<ul>
  <li *ngIf="_isLoggedInAsObservable | async">
    Welcome, {{ user.username }}
  </li>
  <li>
    <a routerLink="/">Home</a>
  </li>
  <li>
    <a routerLink="/about">About</a>
  </li>
  <li>
    <a routerLink="/contact">Contact</a>
  </li>
  <!-- <li>
    <a routerLink="/register">Register</a>
  </li> -->
  <li *ngIf="!(_isLoggedInAsObservable | async)">
    <a routerLink="/login">Login</a>
  </li>
  <!-- <li *ngIf="user.loggedIn"> -->
  <li *ngIf="_isLoggedInAsObservable | async">
    <button (click)="logout()">Logout</button>
  </li>

  <li>
    {{_isLoggedInAsObservable | async}}
  </li>
</ul>

<!-- user.loggedIn is not usable with object observables -->